# Ignore all .log files
*.log

# Ignore the data nad output direcotry
data/
output/

# Ignore the .env file
.env

# Ignore the .npy file
.npy

# Ignore the nc file
.nc

# Ingore the csv file
.csv

# Ignore the tar file
.rar